@import "../app.scss";
@import "../variables.scss";
@import "../mixins.scss";

.btnMain {
    position: relative; 
    width: fit-content;
    height: fit-content;
    @extend .flexRow !optional;
    justify-content: center;
    cursor: pointer;

    button {
       @extend .OrangeBtn !optional;
      //  &:hover{
      //     transform: translateX(-50px);
      //  }
    }
    .add{
      animation: reveal 1s ease forwards;
      visibility: visible;
     }
     @keyframes reveal {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-50px);
      }
  }

    .arrowContainer {
        background-color: white;
        padding-left:2rem;
        border-radius: 2rem;
        @extend .flexCol !optional;
        align-items: center;
        justify-content: center;
        transition: none;
        // visibility: hidden;
        // z-index: -1;
        // transform: translateX(-80px);
        @include respond-to(mobiles){
          position: absolute;
          right: 0;
          top: 5%;
          border-radius: 1.5rem;
          padding-left: 2.5rem;
        }
    }
}

