@import "../app.scss";
@import "../variables.scss";
@import "../mixins.scss";

.btnMain {
    position: relative; 
    width: fit-content;
    height: fit-content;
    @extend .flexRow !optional;

    button {
        background: $color-orange-gradient;
        border-radius: 2rem;
        padding: .7rem 2rem;
        border: none;
        color: white;
        z-index: 2; 
        @include respond-to(mobiles){
          padding: .4rem 2rem;
          border-radius: 1.5rem;
        }
    }

    .arrowContainer {
        background-color: white;
        padding-left:2rem;
        border-radius: 2rem;
        @extend .flexCol !optional;
        align-items: center;
        justify-content: center;
        transition: none;
        visibility: hidden;
        z-index: -1;
        @include respond-to(mobiles){
          visibility: visible;
          z-index: 1;
          transform: translateX(-50%);
          border-radius: 1.5rem;
          padding-left: 2.5rem;
        }
    }
       .add{
        animation: reveal 1s ease forwards;
        visibility: visible;
       }
       @keyframes reveal {
        0% {
          transform: translateX(-100px);
          opacity: 0;
        }
        100% {
          transform: translateX(-45%);
          opacity: 1;
          z-index: 1;
          visibility: visible;
        }
    }
}

