@import "../app.scss";
@import "../variables.scss";

.main{
    background-color: black;
    color:white;
    padding-bottom: 10vh;
    .header{
        span{
            @extend .textOrange !optional;
        }
    }
    .contactFlex{
        padding-top: 5vh;
        @extend .flexRow !optional;
        align-items: flex-start;
        justify-content: space-between;
        .flexLeft{
            width: 60%;
            // border: 1px solid green;
            .contactForm{
                .flexRow{
                    gap: 1rem;
                    input{
                        width: 45%;
                    }
                }            
                .formGroup{
                    padding-bottom: 2rem;
                }
                input,textArea{
                    width: 95%;
                    background-color: $color-gray;
                    border-radius: .5rem;
                    padding: 1rem;
                    border: none;
                    color: white !important;
                    font-weight: bold;
                    &:focus{
                        outline: none;
                        border: none;
                    }
                    &::placeholder{
                        color:white;
                    }
                }
            }
        }
        .flexRight{
            // border: 1px solid blue;
            background: $color-orange-gradient;
            border-radius: 1rem;
            width: 20vw;
            padding:1rem 2rem;
            min-height: 100%;
            margin-right: 3rem;
            h2{
                font-size: 36px;
                color: black;
            }
            p{
                font-size: $font-size-small;
                padding: 1rem 0;
            }
        }
    }
}