@import "../app.scss";
@import "../variables.scss";
@import "../mixins.scss";

.main{
    height: 100%;
    .heading{
        @extend .flexRow !optional;
        justify-content: space-between;
        align-items: center;
        font-size: 32px;
        @include respond-to(medium){
            font-size: 22px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 1rem;
        }
    }
    .info{
        margin-top: 10vh;
        padding: 10vh 0;
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
        @extend .flexRow !optional;
        @include respond-to(medium){
            display: flex;
            flex-direction: column;
        }
        gap:5rem;
        .infoDiv1{
            width: 40%;
            @include respond-to(medium){
                width: 90%;
            }
            .name{
                @extend .flexRow !optional;
                width: fit-content;
            }
        }
        .about{
            margin-top: 10%;
            width: fit-content;
            line-height: 2;
        }
        .contact{
            cursor: pointer;
            p{
                padding: 1rem 0;
            }
            .addressLine{
                line-height: 1.5em;
            }
        }
        .inputContainer{
            @extend .flexRow !optional;
            input{
                background-color:$color-gray;
                outline: none;
                border: none;
                padding:1rem 2rem;
                border-top-left-radius:1rem ;
                border-bottom-left-radius:1rem ;
                @extend .textOrange !optional;
                font-weight: bold;
                border:1px solid rgba(219, 219, 219, 0.404);
            }
            .orangeDiv{
                background: $color-orange-gradient;
                padding:0 1rem;
                border-top-right-radius:1rem ;
                border-bottom-right-radius:1rem ;
                @extend .flexRow !optional;
                align-items: center;
            }
        }
    }
    .nav{
        font-size: 22px;
        padding-bottom: 2rem;
        @extend .textOrange !optional;
    }
    .navContainer{
        cursor: pointer;
        .item{
            text-align: left;
            padding: 1rem 0;
        }
    }
    .copyRight{
        font-family: "Semi-Bold";
        @extend .flexRow !optional;
        justify-content: space-between;
        padding: 2rem 0;
        color:gray;
        @include respond-to(medium){
            font-size: 12px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
        }

        .flowED{
            @extend .flexRow !optional;
            gap: 1rem;
            align-items: center;
            @include respond-to(mobiles){
                svg{
                    height: 20px;
                    width: 20px;
                }
            }
        }
    }
}