@import "../app.scss";
@import "../variables.scss";
@import "../mixins.scss";

.main{
    background-color: black;
    color: white;
    min-height: 90vh;
    position: relative;
    padding-bottom: 5vh;
    .content{
        .itemContainer{
            padding-top: 10vh;
            display: grid;
            grid-template-columns: repeat(2,1fr);
            row-gap: 2rem;
            place-items: center;
            @include respond-to(medium){
                padding: 10vh 0 0 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap:2rem;
            }
            .item{
                background-color: $color-gray;
                padding: 1rem;
                width: fit-content;
                border-radius: 1rem;
                .imgContainer{
                    height: 300px;
                    width: 400px;
                    border-top-left-radius: 1rem;
                    border-top-right-radius: 1rem;
                    @include respond-to(medium){
                        height: 200px;
                        width: 300px;
                    }
                }
                .location{
                    padding-top: 2rem;
                    @extend .flexRow !optional;
                    align-items: center;
                    justify-content: space-between;
                    h2{
                        padding-left: 1rem;
                    }
                }
                .arrow{
                    cursor: pointer;
                    .arrowSvg{
                        transition: all 0.5s ease;
                    }
                    .arrowSvg:hover{
                        scale: 1.2;
                    }
                }
            }
        }
    }
}