@import "../app.scss";

.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10%;
    position: relative;
    img{
        margin-left: 10%;
    }

    .itemsWrapper{
        position:sticky;
        top: 10%;
        z-index: 99;
        // background: linear-gradient(90deg, rgba(235,89,57,1) 0%, rgba(255,194,0,1) 24%, rgba(231,186,27,1) 74%, rgba(235,89,57,1) 91%);
        background: linear-gradient(90deg, rgba(255,255,255,.7) 0%, rgba(0, 0, 0, 0.5) 10%, rgba(0, 0, 0, 0.5) 90%, rgba(255,255,255,.7) 100%);        position: relative;
        padding: 1px;
        border-radius: 1rem;
        backdrop-filter: blur(20px);

        .items{
            @extend .flexRow !optional;
            align-items: center;
            justify-content: space-between;
            background-color: black;

            height: fit-content;
            padding: .5rem 2rem;
            gap:5rem;
            border-radius: 1rem;
        }
    }
}