@import "../app.scss";

.main{
    position: relative;
    .hero{
        height: 90vh;
        @include respond-to(mobiles){
            height: fit-content;
        }
    }
    section{
        min-height: 90vh;
        @include respond-to(mobiles){
            height: fit-content;
        }
    }
}