@import "../app.scss";
@import "../variables.scss";
@import "../mixins.scss";

.slider {
  overflow: hidden;
  position: relative;
  width: 100%;
  background: $color-orange-gradient;
  padding: 1rem;
  @include respond-to(mobiles){
    width: 95%;
  }
  @include respond-to(xs){
    width: 90%;
  }

  .slidesTrack {
    display: flex;
    gap: 2rem;
    justify-content: space-evenly;
  }

  .flexRow {
    display: flex;
    align-items: center;
    gap: 2rem;
    cursor: pointer;
  }
}