@import "../app.scss";
@import "../variables.scss";
@import "../mixins.scss";

.slider {
  overflow: hidden;
  position: relative;
  width: 100%;
  background: $color-orange-gradient;
  padding: 1rem;
  @include respond-to(mobiles){
    font-size: 12px;
    width: 100%;
  }

  .slidesTrack {
    display: flex;
    gap: 2rem;
    justify-content: space-evenly;
    align-items: center;
    @include respond-to(mobiles){
      gap: 10px;
    }
  }

  .flexRow {
    display: flex;
    align-items: center;
    gap: 2rem;
    cursor: pointer;
    p {
      white-space: nowrap;   // Prevent text from wrapping
      overflow: hidden;      // Hide overflow (optional, you can use `auto` or `scroll`)
      text-overflow: ellipsis; // Adds "..." when text overflows
    }

    @include respond-to(mobiles) {
      p {
        white-space: nowrap; // Ensure text doesn't wrap on mobile
        overflow: hidden;   // Let the text overflow without wrapping
      }
    }
  }
}