@import "../app.scss";
@import "../variables.scss";
@import "../mixins.scss";

.slider{
    @extend .flexRow !optional;
    gap:1rem;
    background: $color-orange-gradient;
    border: 1px solid red;
    height: 10vh;
}