@import "../app.scss";
@import "../variables.scss";

.main{
    @extend .flexRow !optional;
    padding-top: 1rem;
    gap: 1rem;
    background-color: transparent;
    .svgContainer{
        background-color: black;
        height: 40px;
        width: 40px;
        @extend .flexCol !optional;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
    }
}