@import "../app.scss";
@import "../variables.scss";
@import "../mixins.scss";

.main{
    background-color: white;
    color: black;
    height: fit-content;
    .gridContainer{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(3,1fr);
        place-items:start;
        justify-items: center;
        padding: 10vh 15vh 5vh 15vh;
        gap: 4rem;
        @include respond-to(medium){
            padding: 5vh 0;
        }
        @include respond-to(mobiles){
            grid-template-columns: repeat(2,1fr);
            padding: 5vh 0 0 0;
            place-items: start;
            gap: 2rem;
        }
        .itemContainer{
            @extend .flexCol !optional;
            align-items: center;
            justify-content: space-between;
            text-align: center;
            gap: 2rem;
            @include respond-to(mobiles){
                gap:1rem;
            }
            h2{
                font-size: 20px;
                align-self: center;
                height: 3rem;
                width: 70%;
                @include respond-to(medium){
                    height: 3rem;
                }
                @include respond-to(mobiles){
                    font-size: $font-size-small;
                    height: 6rem;
                }
            }
            p{
                font-size: $font-size-small;
                color:#959595;
            }
            .svgContainer{
                background:$color-orange-gradient;
                width: fit-content;
                height: fit-content;
                padding: 1rem;
                border-radius: 50%;
                position: relative;
            }
            .star{
                position: absolute;
                bottom: -15%;
                left: 5%;
                background-color: black;
                padding: 0 .2rem;
                border-radius: 13px;
                height: 28px;
                width: 28px;
                padding:0 16px;
                @extend .imgContainer !optional;
                img{
                    object-fit: contai;
                }
            }
        }
    }
}