@import "./mixins.scss";
@import "./variables.scss";

.main{
    background-color: black;
}
.flexRow{
    display: flex;
    flex-direction: row;
}
.flexCol{
    display: flex;
    flex-direction: column;
}
.textOrange{
    @extend .gradientText;
    width: fit-content;
    background: $color-orange-gradient;
}
.gradientText{
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.header{
    font-size: $font-size-header;
    padding-top: 2rem;
    font-weight: bold;
    @include respond-to(mobiles){
        font-size: $font-size-header-mobile;
    }
}
.content{
    padding: 10vh 8rem 0 8rem;
    @include respond-to(mobiles){
        padding: 10vh 1rem 0 1rem;
    }
}
.lineContent{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    .line{
        background: $color-orange-gradient;
        height: 2px;
        width:50px;
    }
    .lineTag{
        font-size: $font-size-medium;
    }
}